@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
.background {
    background-image: url("/public/images/alma.png");
    background-repeat: no-repeat;
    margin-top: 200px;
    background-position: center;
    background-size: cover;
}

.btn-contact {
    color: white;
    background-color: #FF552E;
    border-color: #FF552E;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 35px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    
    color: white;
    
}
.btn-contact:hover {
    background-color: #182849;
    border-color: #182849;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.text2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.overlay {
    z-index: 1;
    top: 0px;
    left: 0px;
    /* background: rgba(24, 40, 73, 0.5); can be anything, of course */
    background: linear-gradient(178.57deg, rgba(255, 85, 46, 0.44) 1%, #13294B 98.57%);
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 100px;    
    padding-bottom: 100px;
}
