@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


#uiuc {
    width: 208px;
    height: 54px;
}
.footer1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.footer2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.FooterContainers {
    height: 40vh;
}