
.mission-bg{
    background-image: url("/public/images/Group.png");
    
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
.mission-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    font-size: 72px;
    padding-bottom: 60px;
    
}
.button-header {
    color: #FF552E;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}
.button-txt {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.6%;
    font-size: 20px;
    border-radius: 20px;
    border-color: #FF552E;
    background-color: #FF552E;
    padding-left: 20px;
    padding-right: 20px;
}
.button-txt:hover {
    border-color: #182849;
    background-color: #182849;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.mission-desc {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 168.4%;
    align-items: left;
}