.tabs{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* -ms-overflow-style: none;  IE and Edge 
    scrollbar-width: none;  Firefox  */
}
  
/* .row::-webkit-scrollbar {
    display: none;
} */

